rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // WARNING: Unrestricted access (dev/testing only)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}